<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout :: head}">
</head>
<body>
<nav th:insert="~{/layout :: nav}"></nav>
<h3>Customers using service</h3>
<!--<h4>-->
<!--    <a th:href="@{customers/customer-list-using-service}">-->
<!--        List of customers who are using the service-->
<!--    </a>-->
<!--</h4>-->
<!--<h4>-->
<!--    <a th:href="@{/customers/create}">-->
<!--        Add new customer-->
<!--    </a>-->
<!--</h4>-->

<h4>
    <a th:href="@{/customers/list}">
        Back to list customer
    </a>
</h4>

<!--<table>-->
<!--    <form action="/customers/list">-->
<!--        <tr>-->
<!--            <td><input type="text" name="searchByName" placeholder="Search by name"></td>-->
<!--            <td><input type="submit" value="Search"></td>-->
<!--        </tr>-->
<!--    </form>-->

<!--    <tr>-->
<!--        <td>-->
<!--            <a th:href="@{/customers/list}"><input type="submit" value="Reset"></a>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->

<!--<div class="notify">-->
<!--    <div th:if="${message}">-->
<!--        <span th:text="${message}" style="color: green"></span>-->
<!--    </div>-->
<!--</div>-->

<table id="customers">

    <thead>
    <tr>
        <th>STT</th>
        <th>Customer code</th>
        <th>Customer name</th>
        <th>Contract id</th>
        <th>Service name</th>
        <th>Attach service name</th>
        <th>Service cost</th>
        <th>Contract deposit</th>
        <th>Attach service cost</th>
        <th>Quantity</th>
        <th>Total money</th>
<!--        <th>Edit</th>-->
<!--        <th>Delete</th>-->
        <!--                        <th>View</th>-->
    </tr>
    </thead>

    <tbody>
    <tr th:each="customerUsingService, loop : ${customerUsingServices}">
        <td th:text="${loop.count}"></td>
        <td th:text="${customerUsingService.customerCode}"></td>
        <td th:text="${customerUsingService.customerName}"></td>
        <td th:text="${customerUsingService.contractId}"></td>
        <td th:text="${customerUsingService.serviceName}"></td>
        <td th:text="${customerUsingService.attachServiceName}"></td>
        <td th:text="${customerUsingService.serviceCost}"></td>
        <td th:text="${customerUsingService.contractDeposit}"></td>
        <td th:text="${customerUsingService.attachServiceCost}"></td>
        <td th:text="${customerUsingService.quantity}"></td>
        <td th:text="${customerUsingService.totalMoney}"></td>

<!--        <td><a th:href="@{/customers/edit/{customerId}(customerId=${customer.customerId})}">Edit</a>-->
<!--        </td>-->

<!--        <td><a data-bs-toggle="modal" data-bs-target="#deleteModal"-->
<!--               onclick="deleteModal($(this))" th:data-id="${customer.customerId}"-->
<!--               th:data-name="${customer.customerName}" style="color: blue">Delete</a></td>-->

        <!--                        <td><a th:href="@{/customers/view/{customerId}(customerId=${customer.customerId})}">-->
        <!--                            View</a>-->
        <!--                        </td>-->
    </tr>
    </tbody>

</table>

<!--<div>-->
<!--    <a th:href="@{/customers/customer-list-using-service/(page=${customerUsingServices.number - 1})}"-->
<!--       th:if="${customerUsingServices.hasPrevious()}">Previous</a>-->
<!--    <span th:text="${customerUsingServices.number + 1}"></span>/<span th:text="${customerUsingServices.totalPages}"></span>-->
<!--    <a th:href="@{/customers/customer-list-using-service/(page=${customerUsingServices.number + 1})}"-->
<!--       th:if="${customerUsingServices.hasNext()}">Next</a>-->
<!--</div>-->

<footer th:replace="/layout :: footer"></footer>
</body>

<!--&lt;!&ndash;Delete Modal &ndash;&gt;-->
<!--<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <form th:action="@{/customers/delete}" method="post">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="deleteModalLabel">Delete Customer</h5>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <input type="text" id="deleteByCustomerId" name="deleteByCustomerId">-->
<!--                <div class="modal-body">-->
<!--                    <p id="deleteInfor"></p>-->
<!--                    <p id="deleteInforNameCustomer"></p>-->
<!--                    <p>Do you want delete <span style="color: red" id="customerNameDelete"></span>?</p>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"-->
<!--                            id="cancelDeleteModalBtn">No-->
<!--                    </button>-->
<!--                    <button type="submit" class="btn btn-primary" id="deleteModalBtn">Yes</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<!--<script>-->
<!--    function deleteModal(a) {-->
<!--        let customerId = a.attr("data-id");-->
<!--        let customerName = a.attr("data-name");-->

<!--        document.getElementById("deleteByCustomerId").value = customerId;-->
<!--        document.getElementById("customerNameDelete").innerText = customerName;-->
<!--        console.log(customerId);-->
<!--        console.log(customerName);-->
<!--    }-->
<!--</script>-->

</html>