<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout :: head}">
</head>
<body>
<h3>Users</h3>
<h4>
    <a th:href="@{/user/create}">
        Add new user
    </a>
</h4>

<table>

</table>

<div class="notify">
    <div th:if="${success}" style="color: forestgreen">
        <h3 th:text="${success}"></h3>
    </div>
</div>

<table id="users">
    <thead>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Birthday</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>

       <td th:text="${user.firstname}"></td>

       <td th:text="${user.lastname}"></td>

        <td th:text="${user.dateOfBirth}"></td>

        <td th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/user(page=${users.number - 1})}" th:if="${users.hasPrevious()}">Previous</a>
    <span th:text="${users.number + 1}"></span>/<span th:text="${users.totalPages}"></span>
    <a th:href="@{/user(page=${users.number + 1})}" th:if="${users.hasNext()}">Next</a>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>