<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Khách hàng</h3>
<h4>
    <a th:href="@{/khach-hang/them}">
        Thêm mới khách hàng
    </a>
</h4>

<!--<table>-->

<!--    <form action="/khach-hang">-->
<!--        <tr>-->
<!--            <td><input type="text" name="author" placeholder="search by author"></td>-->
<!--            <td><input type="submit" value="Search"></td>-->
<!--        </tr>-->
<!--    </form>-->


    <!--    <tr>-->
    <!--        <td>-->
    <!--            <a th:href="@{/blog}"><input type="submit" value="Reset"></a>-->
    <!--        </td>-->
    <!--    </tr>-->
<!--</table>-->

<!--<div class="notify">-->
<!--    <div th:if="${success}">-->
<!--        <span th:text="${success}"></span>-->
<!--    </div>-->
<!--</div>-->
<table id="khachHangs">
    <thead>
    <tr>
        <th>Mã khách hàng</th>
        <th>Tên khách hàng</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="khachHang : ${khachHangs}">
        <td th:text="${khachHang.maKhachHang}"></td>

        <td th:text="${khachHang.tenKhachHang}"></td>

        <td><a th:href="@{/khach-hang/sua/{maKhachHang}(maKhachHang=${khachHang.maKhachHang})}">Edit</a></td>
        <td><a th:href="@{/khach-hang/xoa/{maKhachHang}(maKhachHang=${khachHang.maKhachHang})}">Delete</a></td>
        <td><a th:href="@{/khach-hang/xem/{maKhachHang}(maKhachHang=${khachHang.maKhachHang})}">View</a></td>
    </tr>
    </tbody>
</table>

<!--<div>-->
<!--    <a th:href="@{/blog(page=${blogs.number - 1}, author=${searchAuthor})}" th:if="${blogs.hasPrevious()}">Previous</a>-->
<!--    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>-->
<!--    <a th:href="@{/blog(page=${blogs.number + 1}, author=${searchAuthor})}" th:if="${blogs.hasNext()}">Next</a>-->
<!--</div>-->

<footer th:replace="/layout :: footer"></footer>
</body>
</html>